.div-titulo {
    text-align: center;
}

.div-titulo__titulo {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: white;
}

.card-testimonio {
    text-align: center;
}

.card-testimonio__texto-1 {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    color: white;
    text-align: center;
}

.card-testimonio__texto-2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}