@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.navbar-brand {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
.nav-link {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.titulo {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    font-weight: 300;
}

.card-text {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
.label-text {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.iconos-contacto {
    font-size: 1rem;
}

.button-text {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}