body, .card-quienes-somos, .card-testimonio {
    background-color: #1F2326;
}

.div-titulo {
    border-bottom: solid 2px white;
}

.img-testimonio {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 2px solid white;
}